.comment
	%span.author
		=comment.author
	%span.body
		=comment.body
	%span.time
		=comment.created_at.strftime("%b %d, %Y | %H:%M").to_s
	%span.add
		=link_to "/comment/add/" + comment.id.to_s do
			%span.item.add= "Reply"
	- if User.find_by_username(comment.author).id == current_user.id
		%span.delete
			=link_to [comment.link, comment], {:confirm => 'Are you sure?', :method => :delete} do
				%span.item.delete= "Delete"

	- if comment.childcomment.all != []
		.comment.child
			- comment.childcomment.each do |singleChild|
				%span.author
					=singleChild.author
				%span.body
					=singleChild.body
				%span.time
					=singleChild.created_at.strftime("%b %d, %Y | %H:%M").to_s
