%li.comment
	%span.author
		=comment.author
	%span.body
		=comment.body
	%span.time
		=comment.created_at.strftime("%b %d, %Y | %H:%M").to_s
	%span.delete
		=link_to 'Delete', [comment.link, comment], {:confirm => 'Are you sure?', :method => :delete}