@import "lesshat";

@lightBlue: #34495E;
@darkBlue: #2C3E50;
@lightGreen: #1ABC9C;
@white: #FFFFFF;
@lightSilver: #ECF0F1;

::selection { 
background-color: @lightSilver;
color: @lightGreen;
text-shadow: 1px 1px #FFF;
}

a {
text-decoration: none; 
}

a:hover > span {
color: @lightGreen;
}

html,body {
font-family: "Helvetica Neue",Helvetica,sans-serif;
margin: 0;
}

.container {
width:940px;
margin-left:auto;
margin-right:auto;
}

.activity > h1  {
margin: 0 0 10px;
}

.menubar{
width:auto;
height:50px;
background-color: @lightBlue;
}

.activity {
margin: 15px;
padding: 10px;
border:1px solid;
}

ul.nav > li {
float:left;
margin: 10px;
}

ul.nav > li.right{
float:right;
}

ul {
list-style: none;
padding:3px 20px;
width:940px;
height: 44px;
margin: auto;
}

h1.linkTitle { 
margin-bottom:0;
}

span.menuItem {
color:white;
font-size: 15pt;
}