@import "lesshat";

@lightBlue: #34495E;
@darkGreen: #2C3E50;
@lightGreen: #2ecc71;
@darkBlue: #27ae60;
@white: #FFF;
@lightSilver: #ECF0F1;
@orange: #f39c12;

html,body {
font-family: "SourceSansProRegular", AppleSDGothicNeo, "Apple SD Gothic Neo", sans-serif;
margin: 0;
}

::selection {
background-color: @lightSilver;
color: @lightGreen;
text-shadow: 1px 1px #00FF7C;
}

a {
text-decoration: none;
}

a {
color: #333;
.transition(~".2s");
}

a:hover {
color: @lightGreen;
}

a > span:hover {
color: @lightGreen;
}

span.linkTitle {
display:inline-block;
margin:0;
font-size: 1.6em;
}

article > a > .title {
font-size: 40px;
display:block;
margin: 0 0 10px 0;

}

.container {
width:940px;
margin: 33px auto;
}

.icon-link {
color: #333;
font-size: 15pt;
}

.left-bar
{
float:left;
position:fixed;
}

.right {
padding: 5px 10px 0 0;
float:right;
}

span.delete {
padding:10px 0;
}

span.item.content {
display:block;
}

.feed:first-child {
border-top: 1px solid #ddd;
}

.feed {
background-color:#FFF;
padding: 10px;
border-bottom: 1px solid #ddd;
}

.feed:hover {
background-color: #F7F7F7;
}

.activity {
margin: 15px 0;
padding: 0 10px 0 0;
background-color: #FFF;
}

h2{
font-family: sans-serif;
display:inline-block;
}

.button:hover {
color: @lightGreen;
}

.button {
background-color: #000;
color: #FFF;
padding: 3px 7px;
line-height: 2em;
width: 100px;
height: 30px;
border: 0px solid black;
text-align: center;

.border-radius(5px);
}

h3 > input, .contentfield {
border: 0;
width: 100%;
outline:none
}

.contentfield {
font-size: 12pt;
height:20em;
outline:none
}

.urlfield {
font-size: 13pt;
}

h3 > input {
font-size: 20pt;
}

.add-button {
border-top: 1px solid black;
margin: 10px 0;
padding: 10px 0;
}


a > h2  {
margin: 0 0 10px;

}

.option {
display:block;
}

section {
margin: 1em;
}

span.title {
font-family: "SourceSansProBold";
font-size: 20pt;
margin-bottom: 10px;
}

ul {
list-style: none;
padding: 0 40px 0;
margin: 16px 0 0 0;

-webkit-margin-before: 0;
}

.left-bar > ul {
text-transform: uppercase;
}

ul.comment {
text-transform: none;
padding: 0;
}

span.body {
margin: 10px 0;
}

.comments {
width: 100%;
padding: 0;
}

.time {
text-transform: none;
font-size: 12pt;
}

.comment > * {
margin:0 0 10px 0;
display:block;
}

span.delete {
text-decoration: underline;
}

#new_comment {
margin-top: 25px;
}

.comment {
margin: 10px 0;
border-bottom: solid 1px #eee;
}

.comment > .child {
margin: 0 20px;
padding: 0 10px;
border-left: solid 3px black;
border-bottom: none;

}

nav.pagination {
padding: 10px 40px;

}

article {
margin-bottom: 50px;
}

.vote > .item {
display:inline-block;
text-transform: uppercase;
}

section > span.item {
padding: 0;
}

span.content {
margin: 30px 0;
}

span.item {
line-height: 1.4em;

color:black;
display:inline-block;
}